*{
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

form{
    width:25%;
    margin: 0px auto;
}
.title{
    font-family: "League Spartan", sans-serif;

    color:rgb(20, 20, 199);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin:20px;
}