* {
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  padding: 90px 20px 0;
  background-color: rgb(243, 243, 243);
}
footer{
  display: block;

}

footer h3{
  text-align: center;
  padding: 20px;
  color:rgb(18, 18, 228);
  margin:0px auto ;
}

/*HEADER*/
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: rgb(38, 36, 71);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  width: 540px;
  font-size: 25px;
  font-weight: bold;
  padding: 0 10px;
  line-height: 80px;
}

.img-AP {
  display: flex;
}

.logoP {
  display: flex;
  padding: 0px 10px;
  font-size: 25px;
  font-weight: bold;
  line-height: 80px;
}
.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.image-profile {
  width: 100%;
  margin-top: -220px;
  display: flex;
  justify-content: center;
}
.image-profile img {
  border: 13px solid #fff;
  border-radius: 150px;
}

.descripcion {
  background-color: rgb(255, 255, 255);
  color: rgb(6, 49, 105);
  margin-top: -50px;
}
.descripcion h3 {
  padding-top: 70px;
  text-align: center;
  margin: 0px auto;
  font-size: 60px;
}
.descripcion h4 {
  text-align: center;

  margin: 0px auto;
  font-size: 30px;
}

.nav-menu-item {
  font-size: 25px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
}
.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: rgb(51, 50, 73);
  transition: 0.5s;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}
.btn-login {
  height: 40px;
  width: 100px;
  text-decoration: none;
  padding: 20px;
  color: white;
  font-size: 15px;
  background-color: rgb(38, 36, 71);
  border: 4px solid white;
  border-radius: 20px;
  animation: 1s all ease-out;
  transition: 1s;
  line-height: 30px;
}
.btn-login:hover {
  background-color: rgb(10, 9, 31);
  border: 4px solid rgb(190, 189, 189);
  color: rgb(170, 165, 165);
  padding: 15px;
}
/* FIN HEADER */

/*ACERCA DE*/
.container {
  border: 2px solid rgb(156, 156, 156);
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  display:flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-skills {
  border: 2px solid rgb(156, 156, 156);
  padding: 20px;
  display: inline-block;
  border-radius: 30px;
  display: block;
}
.group-card {
  display: flex;
  top: -40px;
}

.group-card .it-skill {
  padding: 10px;
  margin: 5px;
}
.sub-titulo {
  font-size: 40px;
  color: rgb(6, 49, 105);
  padding: 20px;
  height: 90px;
}
.acerca-de {
  background-color: rgb(6, 49, 105);
  border-radius: 20px;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

.sub-container {
  display: inline-block;
  height: auto;
}

.card {
  padding: 15px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  width: max-content;
  background-color: rgb(6, 49, 105);
  margin: 20px;
  display: inline-block;
}
.it-skill{
  display:flex
}
.image-card {
  display: inline-block;
}

.title-card {
  display: flexbox;
  font-size: 30px;
  margin-bottom: 20px;
  width: 50%;
}
.descripcion-card {
  font-size: 15px;
  width: 60%;
  height: auto;
  line-height: 30px;
  margin: 0px 10px;
  display: inline-block;
}
.descripcion-card p {
  color: rgb(196, 184, 184);
}

a.btn-git {
  display: inline-block;
  border: 3px solid white;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  margin: 10px 10px;
  padding: 10px;
  animation: 1s all ease-out;
  transition: 1s;
}

.image-card-p{
  width: 320px;
  height: 200px;
}

.project-card{
  width: 350px;
  display: inline-block;
}

a.btn-git:hover {
  background-color: rgb(4, 27, 58);
  border: 4px solid rgb(190, 189, 189);
  color: rgb(170, 165, 165);
  padding: 12px;
}

/*SKILLS*/
progress {
  border-radius: 20px;
  line-height: 5px;
  width: auto;
  margin: 5px;
}
.it-skill{
  padding:3px
}
.it-skill *{
  padding:15px;

}
.card__title{
  padding: 10px;

}
.it-skill h3{
    text-align: center;
    margin-top: 7px;

}
::-moz-progress-bar{
  border-radius: 20px;
  background-color: rgb(255, 59, 34);


}

::-webkit-progress-bar{
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
::-webkit-progress-value{
  border-radius: 20px;
  background-color: rgb(255, 59, 34);
}
.container-skills{
  display:inline-block;
}

.title-card,
.image-card-p,
.description-project,.container {
  display: block;
}

/*PROYECTOS*/

.projects {
  display: inline-block;
}


@media (max-width: 768px) {

  body {
    padding-top: 70px;
  }
  

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 70px;
  }

  .logoP {
    font-size: 20px;
  }
 
  .nav-menu {
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    background-color: rgb(38, 36, 71);
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    padding: 20px 0;

    left: 100%;
    transition: left 0.5s;
  }


  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgb(51, 50, 73);
    transition: 0.5s;
  }

  .nav-toggle {
    display: block;
  }


  .nav-menu_visible {
    left: 0;
  }

  .sub-titulo{
    font-size: 30px;
  }
  .acerca-de{
    font-size: 15px;
  }

  .it-skill h3{
    font-size: 20px;
  }
 
}
